<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppRoleMapper">

    <select id="findByCompanyId" parameterType="pd" resultType="com.wolves.dto.right.RoleDTO">
    select ar.id as roleId, ar.role_name as roleName from app_role ar
      where ar.company_id = #{companyId, jdbcType=VARCHAR}
    </select>

    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into app_role(role_name, company_id) values (#{roleName}, #{companyId})
    </insert>

    <select id="getResourcesByRoleId" parameterType="pd" resultType="com.wolves.dto.ResourceDTO">
    select arr.resource_id as resourceId, ars.resource_name as resourceName,ars.resource_remark as remark  from app_role_resource arr,app_resource ars where ars.id=arr.resource_id and arr.role_id=#{roleId}
    </select>

    <update id="updateById" parameterType="pd">
        update app_role set role_name=#{roleName} where id=#{id}
    </update>

    <delete id="deleteRole" parameterType="pd">
        delete from app_role where id=#{id}
    </delete>


</mapper>