<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppRoleMapper">

    <select id="findByCompanyId" parameterType="pd" resultType="com.wolves.dto.right.RoleDTO">
    select ar.id as roleId, ar.role_name as roleName from app_role ar
      where ar.company_id = #{companyId, jdbcType=VARCHAR}
    </select>

    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into app_role(role_name, company_id) values (#{roleName}, #{companyId})
    </insert>


</mapper>