<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BuildBodyMapper">
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into BUILD_BODY(
			BODY_NAME,	
			BUILD_MAN_ID
		) values (
			#{BODY_NAME},	
			#{BUILD_MAN_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from BUILD_BODY
		where 
			ID = #{ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  BUILD_BODY
			set
				BODY_NAME = #{BODY_NAME},
				BUILD_MAN_ID = #{BUILD_MAN_ID}
			where 
				ID = #{ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			ID,	
			BODY_NAME,	
			BUILD_MAN_ID
		from 
			BUILD_BODY
		where 
			ID = #{ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.ID,	
				a.BODY_NAME,	
				a.BUILD_MAN_ID,
				b.build_name
		from
				BUILD_BODY a
		left join build_man b on a.build_man_id=b.BUILDMAN_ID
	</select>

	<!-- 列表 -->
	<select id="getByBuildId" parameterType="pd" resultType="pd">
		select
				a.ID,
				a.BODY_NAME,
				a.BUILD_MAN_ID
		from
				BUILD_BODY a
		where a.build_man_id=#{build_man_id}
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.ID,	
				a.BODY_NAME,	
				a.BUILD_MAN_ID
		from 
				BUILD_BODY a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from BUILD_BODY
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>