<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompanyMapper">

	<resultMap type="com.wolves.dto.user.CompanyDTO" id="ResultMap">
		<id column="company_id" property="companyId"/>
		<result column="company_name" property="companyName"/>
		<result column="type" property="type"/>
		<result column="status" property="status"/>
		<result column="description" property="description"/>
		<result column="company_certify" property="companyCertify"/>
		<result column="place_id" property="placeId"/>
		<result column="logo" property="logo"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<resultMap type="com.wolves.dto.user.BaseCompanyDTO" id="BaseResultMap">
		<id column="company_id" property="companyId"/>
		<result column="company_name" property="companyName"/>
	</resultMap>

	<resultMap type="com.wolves.dto.user.ReportDataDTO" id="ReportDataResultMap">
		<result column="companyNum" property="companyNum"/>
		<result column="personNum" property="personNum"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into COMPANY(
			COMPANY_NAME,
			COME_TIME,
			AGREEMENT_TIME,
			SCALE,
			TYPE,	
			STATUS,	
			DESCRIPTION,	
			COMPANY_CERTIFY,	
			PLACE_ID,	
			LOGO,	
			CREATE_TIME,	
			UPDATE_TIME,	
			COMPANY_ID
		) values (
			#{COMPANY_NAME},
			#{COME_TIME},
			#{AGREEMENT_TIME},
			#{SCALE},
			#{TYPE},	
			#{STATUS},	
			#{DESCRIPTION},	
			#{COMPANY_CERTIFY},	
			#{PLACE_ID},	
			#{LOGO},	
			now(),
			now(),
			#{COMPANY_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from COMPANY
		where 
			COMPANY_ID = #{COMPANY_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  COMPANY
			set
				<if test="COMPANY_NAME != null">
					COMPANY_NAME = #{COMPANY_NAME},
				</if>
				<if test="COME_TIME != null">
					COME_TIME = #{COME_TIME},
				</if>
				<if test="AGREEMENT_TIME != null">
					AGREEMENT_TIME = #{AGREEMENT_TIME},
				</if>
				<if test="SCALE != null">
					SCALE = #{SCALE},
				</if>
				<if test="TYPE != null">
					TYPE = #{TYPE},
				</if>
				<if test="STATUS != null">
					STATUS = #{STATUS},
				</if>
				<if test="DESCRIPTION != null">
					DESCRIPTION = #{DESCRIPTION},
				</if>
				<if test="COMPANY_CERTIFY != null">
					COMPANY_CERTIFY = #{COMPANY_CERTIFY},
				</if>
				<if test="PLACE_ID != null">
					PLACE_ID = #{PLACE_ID},
				</if>
				<if test="LOGO != null">
					LOGO = #{LOGO},
				</if>
				<if test="CREATE_TIME != null">
					CREATE_TIME = #{CREATE_TIME},
				</if>
				UPDATE_TIME = now(),
			COMPANY_ID = COMPANY_ID
			where 
				COMPANY_ID = #{COMPANY_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			COMPANY_NAME,
			COME_TIME,
			AGREEMENT_TIME,
			SCALE,
			TYPE,	
			STATUS,	
			DESCRIPTION,	
			COMPANY_CERTIFY,	
			PLACE_ID,	
			LOGO,	
			CREATE_TIME,	
			UPDATE_TIME,	
			COMPANY_ID
		from 
			COMPANY
		where 
			COMPANY_ID = #{COMPANY_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.COMPANY_NAME,
				a.TYPE,	
				a.STATUS,	
				a.DESCRIPTION,	
				a.COMPANY_CERTIFY,	
				a.PLACE_ID,	
				a.LOGO,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,
				a.COME_TIME,
				a.AGREEMENT_TIME,
				a.SCALE,
				a.COMPANY_ID,
				(SELECT COUNT(u.user_id) FROM `user` u WHERE u.company_id = a.company_id) AS NUM
		from 
				COMPANY a
		WHERE 1=1
		<if test="pd.COMPANY_NAME != '' and pd.COMPANY_NAME != null ">
			AND a.COMPANY_NAME LIKE concat(concat('%',#{pd.COMPANY_NAME, jdbcType=VARCHAR}),'%')
		</if>
		<if test="pd.lastLoginStart != '' and pd.lastLoginStart != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{pd.lastLoginStart, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.lastLoginEnd != '' and pd.lastLoginEnd != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{pd.lastLoginEnd, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.STATUS != '' and pd.STATUS != null ">
			AND a.STATUS = #{pd.STATUS, jdbcType=INTEGER}
		</if>
		<if test="pd.TYPE != '' and pd.TYPE != null ">
			AND a.TYPE = #{pd.TYPE, jdbcType=INTEGER}
		</if>
		ORDER BY a.create_time DESC
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.COMPANY_NAME,
				a.TYPE,	
				a.STATUS,	
				a.DESCRIPTION,	
				a.COMPANY_CERTIFY,	
				a.PLACE_ID,	
				a.LOGO,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,
				a.COME_TIME,
				a.AGREEMENT_TIME,
				a.SCALE,
				a.COMPANY_ID,
				(SELECT COUNT(u.user_id) FROM `user` u WHERE u.company_id = a.company_id) AS NUM
		from 
				COMPANY a
				ORDER BY a.create_time DESC
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from COMPANY
		where 
			COMPANY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<select id="selectCompanyById" parameterType="com.wolves.dto.user.CompanyDTO" resultMap="ResultMap">
		SELECT
		  *
		FROM company
		WHERE company_id = #{companyId}
	</select>

	<select id="selectAllCompany" parameterType="com.wolves.dto.user.BaseCompanyDTO" resultMap="BaseResultMap">
		SELECT
			company_id,
			company_name
		FROM company
		WHERE type = 2 AND status != 2
	</select>

	<insert id="saveCompany" parameterType="com.wolves.dto.user.CompanyDTO" flushCache="false">
		insert into COMPANY(
		COMPANY_NAME,
		<if test="comeTime != null">
			COME_TIME,
		</if>
		<if test="agreementTime != null">
			AGREEMENT_TIME,
		</if>
		<if test="scale != null">
			SCALE,
		</if>
		TYPE,
		STATUS,
		<if test="logo != null">
			LOGO,
		</if>
		CREATE_TIME,
		UPDATE_TIME,
		COMPANY_ID
		) values (
		#{companyName},
		<if test="comeTime != null">
			#{comeTime},
		</if>
		<if test="agreementTime != null">
			#{agreementTime},
		</if>
		<if test="scale != null">
			#{scale},
		</if>
		#{type},
		#{status},
		<if test="logo != null">
		#{logo},
		</if>
		now(),
		now(),
		#{companyId}
		)
	</insert>

	<select id="selectCompanyByName" parameterType="com.wolves.dto.user.BaseCompanyDTO" resultMap="BaseResultMap">
		SELECT
			company_id,
			company_name
		FROM company
		WHERE type = 2 AND status != 2 AND company_name = #{name}
	</select>

	<update id="updateCompanyById" parameterType="com.wolves.dto.user.CompanyDTO">
		update COMPANY
		set
		<if test="companyName != null">
			COMPANY_NAME = #{companyName},
		</if>
		<if test="type != null">
			TYPE = #{type},
		</if>
		<if test="status != null">
			STATUS = #{status},
		</if>
		<if test="description != null">
			DESCRIPTION = #{description},
		</if>
		<if test="companyCertify != null">
			COMPANY_CERTIFY = #{companyCertify},
		</if>
		<if test="placeId != null">
			PLACE_ID = #{placeId},
		</if>
		<if test="logo != null">
			LOGO = #{logo},
		</if>
		<if test="createTime != null">
			CREATE_TIME = #{createTime},
		</if>
		UPDATE_TIME = now(),
		COMPANY_ID = COMPANY_ID
		where
		COMPANY_ID = #{companyId}
	</update>

	<select id="selectReportData" parameterType="com.wolves.dto.user.ReportDataDTO" resultMap="ReportDataResultMap">
		SELECT
		COUNT(company_id) AS companyNum,
		SUM(scale) AS personNum
		FROM
		company where type = 2 AND status = 1
	</select>
</mapper>