<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DecorateMapper">

	<resultMap type="com.wolves.entity.system.Decorate" id="ResultMap">
		<id column="decorate_id" property="decorateId"/>
		<result column="decorate_no" property="decorateNo"/>
		<result column="user_id" property="userId"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<resultMap type="com.wolves.dto.user.UnionDTO" id="UnionDTOResultMap">
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into DECORATE(
			DECORATE_NO,
			USER_ID,
			`TYPE`,
			`NAME`,
			SEX,
			ID_CARD,
			PHONE,
			ACCESS,
			BUILDMAN,
			FLOOR,
			ROOM,
			CONTENT,	
			STATUS,	
			CREATE_TIME,	
			UPDATE_TIME,	
			DECORATE_ID
		) values (
			#{DECORATE_NO},
			#{USER_ID},
			#{BUILDMAN},
			#{TYPE},
			#{NAME},
			#{SEX},
			#{ID_CARD},
			#{PHONE},
			#{ACCESS},
			#{FLOOR},
			#{ROOM},
			#{CONTENT},	
			#{STATUS},
			now(),
			now(),
			#{DECORATE_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from DECORATE
		where 
			DECORATE_ID = #{DECORATE_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  DECORATE
			set
				<if test="USER_ID != null">
					USER_ID = #{USER_ID},
				</if>
				<if test="TYPE != null">
					`TYPE` = #{TYPE},
				</if>
				<if test="NAME != null">
					`NAME` = #{NAME},
				</if>
				<if test="SEX != null">
					SEX = #{SEX},
				</if>
				<if test="ID_CARD != null">
					ID_CARD = #{ID_CARD},
				</if>
				<if test="PHONE != null">
					PHONE = #{PHONE},
				</if>
				<if test="ACCESS != null">
					ACCESS = #{ACCESS},
				</if>
				<if test="BUILDMAN != null">
					BUILDMAN = #{BUILDMAN},
				</if>
				<if test="FLOOR != null">
					FLOOR = #{FLOOR},
				</if>
				<if test="ROOM != null">
					ROOM = #{ROOM},
				</if>
				<if test="CONTENT != null">
					CONTENT = #{CONTENT},
				</if>
				<if test="STATUS != null">
				 	STATUS = #{STATUS},
				</if>
				<if test="DECORATE_NO != null">
					DECORATE_NO = #{DECORATE_NO},
				</if>
				UPDATE_TIME = now(),
				DECORATE_ID = DECORATE_ID
			where 
				DECORATE_ID = #{DECORATE_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
			a.USER_ID,
			a.DECORATE_NO,
		  	a.`TYPE`,
			a.`NAME`,
			a.SEX,
			a.ID_CARD,
			a.PHONE,
			a.ACCESS,
			a.BUILDMAN,
			a.FLOOR,
			a.ROOM,
			a.CONTENT,
			a.FILE_URL,
			a.STATUS,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.DECORATE_ID,
			c.COMPANY_NAME
		from 
			DECORATE a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
		LEFT JOIN company c ON (c.company_id = u.company_id)
		where 
			DECORATE_ID = #{DECORATE_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.USER_ID,
			a.DECORATE_NO,
			a.`TYPE`,
			a.`NAME`,
			a.SEX,
			a.ID_CARD,
			a.PHONE,
			a.ACCESS,
			a.BUILDMAN,
			a.FLOOR,
			a.ROOM,
			a.CONTENT,
			a.FILE_URL,
			a.STATUS,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.DECORATE_ID
		from
			DECORATE a
		WHERE 1=1
	</select>
	<!--查询一卡通申请-->
	<select id="passlistPage" parameterType="page" resultType="pd">
		select
			a.DECORATE_NO,
			a.USER_ID,
			a.`TYPE`,
			a.`NAME`,
			a.SEX,
			a.ID_CARD,
			a.PHONE,
			a.ACCESS,
			a.BUILDMAN,
			a.FLOOR,
			a.ROOM,
			a.CONTENT,
			a.FILE_URL,
			a.STATUS,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.DECORATE_ID,
			c.COMPANY_NAME
		from
		DECORATE a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
		LEFT JOIN company c ON (c.company_id = u.company_id)
		ORDER BY c.COMPANY_NAME,a.STATUS DESC
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.DECORATE_NO,
				a.USER_ID,
				a.`TYPE`,
				a.`NAME`,
				a.SEX,
				a.ID_CARD,
				a.PHONE,
				a.ACCESS,
				a.BUILDMAN,
				a.FLOOR,
				a.ROOM,
				a.CONTENT,
				a.FILE_URL,
				a.STATUS,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.DECORATE_ID
		from 
				DECORATE a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from DECORATE
		where 
			DECORATE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!--保存-->
	<insert id="saveApply" parameterType="com.wolves.entity.system.Decorate">
		insert into DECORATE(
			DECORATE_NO,
			USER_ID,
			`TYPE`,
			`NAME`,
			SEX,
			ID_CARD,
			PHONE,
			ACCESS,
			BUILDMAN,
			FLOOR,
			ROOM,
			<if test="content != null and content != ''">
			CONTENT,
			</if>
			<if test="fileUrl != null and fileUrl != ''">
			FILE_URL,
			</if>
			STATUS,
			CREATE_TIME,
			UPDATE_TIME,
			DECORATE_ID
		) values (
			#{decorateNo},
			#{userId},
			#{type},
			#{name},
			#{sex},
			#{idCard},
			#{phone},
			#{access},
			#{buildman},
			#{floor},
			#{room},
			<if test="content != null and content != ''">
			#{content},
			</if>
			<if test="fileUrl != null and fileUrl != ''">
			#{fileUrl},
			</if>
			#{status},
			now(),
			now(),
			#{decorateId}
		)
	</insert>

	<select id="selectMyApply" parameterType="com.wolves.entity.system.Decorate" resultMap="ResultMap">
		SELECT
		*
		FROM DECORATE
		WHERE USER_ID = #{userId}
	</select>

	<select id="selectMyApplyDetail" parameterType="com.wolves.entity.system.Decorate" resultMap="ResultMap">
		SELECT
		*
		FROM DECORATE
		WHERE DECORATE_ID = #{decorateId}
	</select>

	<update id="updateDecorate" parameterType="com.wolves.entity.system.Decorate">
		update DECORATE
		set
		STATUS = #{status},
		UPDATE_TIME = now()
		where
		DECORATE_ID = #{decorateId}
	</update>

	<select id="findUnionById" parameterType="com.wolves.dto.user.UnionDTO" resultMap="UnionDTOResultMap">
		select
		a.user_id,
		a.type,
		a.name,
		a.sex,
		a.id_card AS idCard,
		a.phone,
		a.access,
		a.buildman,
		a.floor,
		a.room,
		c.company_id AS companyId,
		c.company_name AS companyName,
		c.type,
		c.status,
		b.car_no AS plate,
		a.create_time AS applyTime
		from
			DECORATE a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
		LEFT JOIN USER_CAR_BIND b ON (b.USER_ID = a.USER_ID AND b.STATUS = 1)
		LEFT JOIN COMPANY c ON (c.COMPANY_ID = u.COMPANY_ID)
		where a.decorate_id = #{decorateId} AND a.`status` = 1
		GROUP BY a.user_id
	</select>
</mapper>