<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FloorManMapper">

	<resultMap type="com.wolves.dto.FloorManDTO" id="FloorManResultMap">
		<result column="build_no" property="buildNo"/>
		<result column="build_master_name" property="buildMasterName"/>
		<result column="master_tel" property="masterTel"/>
		<result column="floor" property="floor"/>
		<result column="floor_master_name" property="floorMasterName"/>
		<result column="tel" property="tel"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<resultMap type="com.wolves.dto.FloorManAllDTO" id="FloorManAllResultMap">
		<result column="floorman_id" property="floormanId"/>
		<result column="floor" property="floor"/>
		<result column="floor_master_name" property="floorMasterName"/>
		<result column="master_tel" property="masterTel"/>
	</resultMap>

	<resultMap type="com.wolves.dto.FloorDTO" id="FloorResultMap">
		<result column="floorman_id" property="id"/>
		<result column="floor" property="name"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into FLOOR_MAN(
			BUILD_NO,	
			FLOOR,	
			FLOOR_MASTER_NAME,	
			MASTER_TEL,	
			CREATE_TIME,	
			FLOORMAN_ID
		) values (
			#{BUILD_NO},	
			#{FLOOR},	
			#{FLOOR_MASTER_NAME},	
			#{MASTER_TEL},	
			now(),
			#{FLOORMAN_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from FLOOR_MAN
		where 
			FLOORMAN_ID = #{FLOORMAN_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  FLOOR_MAN
			set
				BUILD_NO = #{BUILD_NO},
				FLOOR = #{FLOOR},
				FLOOR_MASTER_NAME = #{FLOOR_MASTER_NAME},
				MASTER_TEL = #{MASTER_TEL},
				CREATE_TIME = now(),
				FLOORMAN_ID = FLOORMAN_ID
			where 
				FLOORMAN_ID = #{FLOORMAN_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
			BUILD_NO,	
			FLOOR,	
			FLOOR_MASTER_NAME,	
			MASTER_TEL,	
			CREATE_TIME,	
			FLOORMAN_ID
		from 
			FLOOR_MAN
		where 
			FLOORMAN_ID = #{FLOORMAN_ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				b.build_name as buildName,
				a.FLOOR,	
				a.FLOOR_MASTER_NAME,	
				a.MASTER_TEL,	
				a.CREATE_TIME,	
				a.FLOORMAN_ID
		from 
				FLOOR_MAN a
		left join build_man b on a.build_no=b.BUILDMAN_ID
		WHERE 1=1
		<if test="pd.FLOOR_MASTER_NAME != '' and pd.FLOOR_MASTER_NAME != null ">
			AND a.FLOOR_MASTER_NAME = #{pd.FLOOR_MASTER_NAME, jdbcType=VARCHAR}
		</if>
		<if test="pd.lastLoginStart != '' and pd.lastLoginStart != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{pd.lastLoginStart, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.lastLoginEnd != '' and pd.lastLoginEnd != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{pd.lastLoginEnd, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		ORDER BY a.create_time DESC
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.BUILD_NO,	
				a.FLOOR,	
				a.FLOOR_MASTER_NAME,	
				a.MASTER_TEL,	
				a.CREATE_TIME,	
				a.FLOORMAN_ID
		from 
				FLOOR_MAN a
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from FLOOR_MAN
		where 
			FLOORMAN_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<select id="selectFloorMan" parameterType="com.wolves.dto.FloorManDTO" resultMap="FloorManResultMap">
		select
				b.build_no,
				b.build_master_name,
				b.master_tel,
				a.floor,
				a.floor_master_name,
				a.master_tel AS tel,
				a.create_time
		from
				FLOOR_MAN a
				LEFT JOIN BUILD_MAN b ON (b.BUILD_NO = a.BUILDMAN_ID)
	</select>

	<select id="selectFloorManByBuildNo" parameterType="com.wolves.dto.FloorManAllDTO" resultMap="FloorManAllResultMap">
		select
				a.floorman_id,
				a.floor,
				a.floor_master_name,
				a.master_tel
		from
				FLOOR_MAN a
		WHERE a.build_no = #{buildNo}
	</select>

	<select id="selectFloorByBuildNo" parameterType="com.wolves.dto.FloorDTO" resultMap="FloorResultMap">
		select
			a.floorman_id,
			a.floor
		from
		FLOOR_MAN a
		WHERE a.build_no = #{buildNo}
	</select>

	<!--根据楼层查询楼层楼栋信息-->
	<select id="selectFloorManById" parameterType="com.wolves.dto.FloorManDTO" resultMap="FloorManResultMap">
		select
				a.build_no,
				b.build_master_name,
				b.master_tel,
				a.floor,
				a.floor_master_name,
				a.master_tel AS tel,
				a.create_time
		from
				FLOOR_MAN a
				LEFT JOIN BUILD_MAN b ON (b.BUILDMAN_ID = a.BUILD_NO)
		WHERE a.floorman_id = #{floormanId}
	</select>
</mapper>