<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsTipMapper">

	<resultMap type="com.wolves.dto.NewsTipDTO" id="ResultMap">
		<id column="newstip_id" property="newstipId"/>
		<result column="news_title" property="newsTitle"/>
		<result column="news_content" property="newsContent"/>
		<result column="attach_url" property="attachUrl"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into NEWS_TIP(
			NEWS_TYPE,	
			NEWS_TITLE,	
			NEWS_CONTENT,	
			ATTACH_URL,
			STATUS,
			CREATE_TIME,	
			UPDATE_TIME,	
			NEWSTIP_ID
		) values (
			#{NEWS_TYPE},	
			#{NEWS_TITLE},	
			#{NEWS_CONTENT},	
			#{ATTACH_URL},
			#{STATUS},
			now(),
			now(),
			#{NEWSTIP_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from NEWS_TIP
		where 
			NEWSTIP_ID = #{NEWSTIP_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  NEWS_TIP
			set
				NEWS_TYPE = #{NEWS_TYPE},
				NEWS_TITLE = #{NEWS_TITLE},
				NEWS_CONTENT = #{NEWS_CONTENT},
				ATTACH_URL = #{ATTACH_URL},
				STATUS = #{STATUS},
				UPDATE_TIME = now(),
			NEWSTIP_ID = NEWSTIP_ID
			where 
				NEWSTIP_ID = #{NEWSTIP_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
			NEWS_TYPE,	
			NEWS_TITLE,	
			NEWS_CONTENT,	
			ATTACH_URL,
			STATUS,
			CREATE_TIME,	
			UPDATE_TIME,	
			NEWSTIP_ID
		from 
			NEWS_TIP
		where 
			NEWSTIP_ID = #{NEWSTIP_ID}
	</select>
	<!-- 查询新闻列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NEWS_TYPE,	
				a.NEWS_TITLE,	
				a.NEWS_CONTENT,	
				a.ATTACH_URL,
				a.STATUS,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.NEWSTIP_ID
		from 
				NEWS_TIP a
		WHERE a.NEWS_TYPE = 1
	</select>
	<!--查询项目申报-->
	<select id="declarelistPage" parameterType="page" resultType="pd">
		select
		a.NEWS_TYPE,
		a.NEWS_TITLE,
		a.NEWS_CONTENT,
		a.ATTACH_URL,
		a.STATUS,
		a.CREATE_TIME,
		a.UPDATE_TIME,
		a.NEWSTIP_ID
		from
		NEWS_TIP a
		WHERE a.NEWS_TYPE = 2
	</select>
	<!-- 列表(全部新闻) -->
	<select id="listNewAll" parameterType="pd" resultType="pd">
		select
				a.NEWS_TYPE,	
				a.NEWS_TITLE,	
				a.NEWS_CONTENT,	
				a.ATTACH_URL,
				a.STATUS,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.NEWSTIP_ID
		from 
				NEWS_TIP a
		WHERE a.NEWS_TYPE = 1
	</select>
	<!-- 列表(全部项目) -->
	<select id="listDeclareAll" parameterType="pd" resultType="pd">
		select
			a.NEWS_TYPE,
			a.NEWS_TITLE,
			a.NEWS_CONTENT,
			a.ATTACH_URL,
			a.STATUS,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.NEWSTIP_ID
		from
			NEWS_TIP a
		WHERE a.NEWS_TYPE = 2
	</select>
	<!-- 新闻批量删除 -->
	<delete id="deleteNewAll" parameterType="String">
		delete from NEWS_TIP
		where
		NEWS_TYPE = 1 AND NEWSTIP_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!--项目申报批量删除-->
	<delete id="deleteDeclareAll" parameterType="String">
		delete from NEWS_TIP
		where
		NEWS_TYPE = 2 AND NEWSTIP_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="selectNewsByType" parameterType="com.wolves.dto.NewsTipDTO" resultMap="ResultMap">
		SELECT
			newstip_id,
			news_title,
			news_content,
			attach_url,
			create_time
		FROM news_tip
		WHERE status = 1 AND news_type = #{params.newsType}
		ORDER BY create_time DESC
		LIMIT #{params.start}, #{params.size}
	</select>

	<select id="selectNewsById" parameterType="com.wolves.dto.NewsTipDTO" resultMap="ResultMap">
		SELECT
			newstip_id,
			news_title,
			news_content,
			attach_url,
			create_time
		FROM news_tip
		WHERE status = 1 AND newstip_id = #{newstipId}
	</select>
</mapper>