<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentMapper">

	<resultMap type="com.wolves.dto.pay.PayMentDTO" id="ResultMap">
		<id column="payment_id" property="paymentId"/>
		<result column="company_id" property="companyId"/>
		<result column="payment_type" property="paymentType"/>
		<result column="amount" property="amount"/>
		<result column="payment_date" property="paymentDate"/>
		<result column="status" property="status"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<resultMap id="CompanyPayResultMap" type="com.wolves.dto.pay.CompantYearPayDTO"></resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into PAYMENT(
			COMPANY_ID,
			PAYMENT_TYPE,	
			AMOUNT,	
			PAYMENT_DATE,	
			STATUS,	
			CREATE_TIME,	
			UPDATE_TIME,	
			PAYMENT_ID
		) values (
			#{COMPANY_ID},
			#{PAYMENT_TYPE},	
			#{AMOUNT},	
			#{PAYMENT_DATE},	
			#{STATUS},	
			now(),
			now(),
			#{PAYMENT_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from PAYMENT
		where 
			PAYMENT_ID = #{PAYMENT_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  PAYMENT
			set 
				COMPANY_ID = #{COMPANY_ID},
				PAYMENT_TYPE = #{PAYMENT_TYPE},
				AMOUNT = #{AMOUNT},
				PAYMENT_DATE = #{PAYMENT_DATE},
				UPDATE_TIME = now(),
				STATUS = #{STATUS},
			PAYMENT_ID = PAYMENT_ID
			where 
				PAYMENT_ID = #{PAYMENT_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			COMPANY_ID,
			PAYMENT_TYPE,	
			AMOUNT,	
			PAYMENT_DATE,	
			STATUS,	
			CREATE_TIME,	
			UPDATE_TIME,	
			PAYMENT_ID
		from 
			PAYMENT
		where 
			PAYMENT_ID = #{PAYMENT_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.COMPANY_ID,
				a.PAYMENT_TYPE,	
				a.AMOUNT,	
				a.PAYMENT_DATE,	
				a.STATUS,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,
				c.COMPANY_NAME,
				a.PAYMENT_ID
		from 
				PAYMENT a
		LEFT JOIN company c ON (c.company_id = a.COMPANY_ID)
		where 1 = 1
		<if test="pd.COMPANY_NAME!=null and pd.COMPANY_NAME!=''"><!-- 公司名检索 -->
			and c.company_name like '%${pd.COMPANY_NAME}%'
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and a.CREATE_TIME &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and a.CREATE_TIME &lt;= #{pd.lastLoginEnd}
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 状态检索 -->
			and a.STATUS=#{pd.STATUS}
		</if>
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.COMPANY_ID,
				a.PAYMENT_TYPE,	
				a.AMOUNT,	
				a.PAYMENT_DATE,	
				a.STATUS,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.PAYMENT_ID,
				c.COMPANY_NAME
		from 
				PAYMENT a
		LEFT JOIN company c ON (c.company_id = a.COMPANY_ID)
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from PAYMENT
		where 
			PAYMENT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<select id="selectPayMentById" parameterType="com.wolves.dto.pay.PayMentDTO" resultMap="ResultMap">
		select
			a.payment_id,
			a.company_id,
			a.payment_type,
			a.amount,
			a.payment_date,
			a.status,
			a.create_time
		from
		PAYMENT a
		WHERE a.company_id = #{companyId}
	</select>

	<select id="selectPayMentSumByTime" parameterType="page" resultType="pd">
		SELECT
		p.PAYMENT_ID,
		c.COMPANY_NAME,
		SUM(p.amount) AS T, -- 全部需要缴纳费用
		SUM(IFNULL(a.amount, 0)) AS Y, -- 已经缴纳费用
		SUM(p.amount) - SUM(IFNULL(a.amount, 0)) AS D, -- 待缴纳费用
		p.CREATE_TIME
		FROM
		PAYMENT p
		LEFT JOIN PAYMENT a ON (a.payment_id = p.payment_id AND a.status = 1)
		LEFT JOIN company c ON (c.company_id = p.company_id)
		WHERE 1=1
		<if test="pd.TIME != null and pd.TIME != '' ">
			AND DATE_FORMAT(p.create_time,'%Y') = DATE_FORMAT(#{pd.TIME},'%Y')
		</if>
		<if test="pd.COMPANY_NAME != null and pd.COMPANY_NAME != '' ">
			AND c.COMPANY_NAME = #{pd.COMPANY_NAME}
		</if>
		GROUP BY
		p.company_id
		ORDER BY p.create_time DESC
	</select>

	<select id="selectPaymentByCompanyId" parameterType="com.wolves.dto.pay.CompantYearPayDTO" resultMap="CompanyPayResultMap">
		SELECT
		p.payment_id AS id,
		c.COMPANY_NAME as companyName,
		SUM(p.amount) AS yearTotalPay, -- 全部需要缴纳费用
		SUM(IFNULL(a.amount, 0)) AS yearYetPay, -- 已经缴纳费用
		SUM(p.amount) - SUM(IFNULL(a.amount, 0)) AS yearWaitPay, -- 待缴纳费用
		p.CREATE_TIME AS createTime
		FROM
		PAYMENT p
		LEFT JOIN PAYMENT a ON (a.payment_id = p.payment_id AND a.status = 1)
		LEFT JOIN company c ON (c.company_id = p.company_id)
		WHERE 1=1
		<if test="companyId != null">
			AND p.company_id = #{companyId}
		</if>
		<if test="time != null and time != '' ">
			AND DATE_FORMAT(p.create_time,'%Y') = DATE_FORMAT(#{time},'%Y')
		</if>
		GROUP BY
		p.company_id
		ORDER BY p.create_time DESC
	</select>
</mapper>