<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PayOrderMapper">

	<resultMap type="com.wolves.entity.app.PayOrder" id="ResultMap">
		<id column="payorder_id" property="payorderId"/>
		<result column="pay_type" property="payType"/>
		<result column="user_id" property="userId"/>
		<result column="pay_amount" property="payAmount"/>
		<result column="pay_time" property="payTime"/>
		<result column="return_time" property="returnTime"/>
		<result column="pay_status" property="payStatus"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into PAY_ORDER(
			PAY_TYPE,
			USER_ID,
			PAY_AMOUNT,	
			PAY_TIME,	
			RETURN_TIME,	
			PAY_STATUS,	
			CREATE_TIME,	
			UPDATE_TIME,	
			PAYORDER_ID
		) values (
			#{PAY_TYPE},
			#{USER_ID},
			#{PAY_AMOUNT},	
			#{PAY_TIME},	
			#{RETURN_TIME},	
			#{PAY_STATUS},	
			now(),
			now(),
			#{PAYORDER_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from PAY_ORDER
		where 
			PAYORDER_ID = #{PAYORDER_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  PAY_ORDER
			set 
				PAY_TYPE = #{PAY_TYPE},
				USER_ID = #{USER_ID},
				PAY_AMOUNT = #{PAY_AMOUNT},
				PAY_TIME = #{PAY_TIME},
				RETURN_TIME = #{RETURN_TIME},
				PAY_STATUS = #{PAY_STATUS},
				UPDATE_TIME = now(),
			PAYORDER_ID = PAYORDER_ID
			where 
				PAYORDER_ID = #{PAYORDER_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			PAY_TYPE,
			USER_ID,
			PAY_AMOUNT,	
			PAY_TIME,	
			RETURN_TIME,	
			PAY_STATUS,	
			CREATE_TIME,	
			UPDATE_TIME,	
			PAYORDER_ID
		from 
			PAY_ORDER
		where 
			PAYORDER_ID = #{PAYORDER_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.PAY_TYPE,
		  	a.USER_ID,
	  		a.PAY_AMOUNT,
  			a.PAY_TIME,
			a.RETURN_TIME,
			a.PAY_STATUS,
		  	a.CREATE_TIME,
		  	a.UPDATE_TIME,
	  		a.PAYORDER_ID,
			c.COMPANY_NAME,
			u.NAME
		from 
			PAY_ORDER a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
		LEFT JOIN company c ON (c.company_id = u.company_id)
		where 1 = 1
		<if test="pd.COMPANY_NAME!=null and pd.COMPANY_NAME!=''"><!-- 公司名检索 -->
			and c.company_name like '%${pd.COMPANY_NAME}%'
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and a.CREATE_TIME &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and a.CREATE_TIME &lt;= #{pd.lastLoginEnd}
		</if>
		<if test="pd.PAY_STATUS != null and pd.PAY_STATUS != ''"><!-- 状态检索 -->
			and a.PAY_STATUS=#{pd.PAY_STATUS}
		</if>
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.PAY_TYPE,
				a.USER_ID,
				a.PAY_AMOUNT,	
				a.PAY_TIME,	
				a.RETURN_TIME,	
				a.PAY_STATUS,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.PAYORDER_ID
		from 
				PAY_ORDER a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from PAY_ORDER
		where 
			PAYORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!--查询付费记录，通过客户id-->
	<select id="selectPayOrderByUserId" parameterType="com.wolves.entity.app.PayOrder" resultMap="ResultMap">
		select
		payorder_id,
		pay_type,
		user_id,
		pay_amount,
		pay_time,
		return_time,
		pay_status,
		create_time,
		update_time
		from pay_order
		where 1=1
		<if test="userId != null">
			AND user_id = #{userId}
		</if>
		<if test="payType != null">
			AND pay_type = #{payType}
		</if>
		<if test="payStatus != null">
			AND pay_status = #{payStatus}
		</if>
		ORDER BY create_time DESC
		<if test="start != null">
			LIMIT #{start}, #{size}
		</if>
	</select>
</mapper>