<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TipMsgMapper">

	<resultMap type="com.wolves.dto.user.TipMsgDTO" id="ResultMap">
		<id column="tipmsg_id" property="tipMsgId"/>
		<result column="type" property="type"/>
		<result column="msg_type" property="msgType"/>
		<result column="to_user" property="toUser"/>
		<result column="alert_title" property="alertTitle"/>
		<result column="read" property="read"/>
		<result column="alert_content" property="alertContent"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TIP_MSG(
			MSG_TYPE,	
			TO_USER,	
			ALERT_TITLE,	
			ALERT_CONTENT,	
			CREATE_TIME,	
			UPDATE_TIME,
				  `TYPE`,
				  `READ`,
			TIPMSG_ID
		) values (
			#{MSG_TYPE},	
			#{TO_USER},	
			#{ALERT_TITLE},	
			#{ALERT_CONTENT},	
			now(),
			now(),
			#{TYPE},
			#{READ},
			#{TIPMSG_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TIP_MSG
		where 
			TIPMSG_ID = #{TIPMSG_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TIP_MSG
			set 
				MSG_TYPE = #{MSG_TYPE},
				TO_USER = #{TO_USER},
				ALERT_TITLE = #{ALERT_TITLE},
				ALERT_CONTENT = #{ALERT_CONTENT},
				UPDATE_TIME = now(),
			TIPMSG_ID = TIPMSG_ID
			where 
				TIPMSG_ID = #{TIPMSG_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			MSG_TYPE,	
			TO_USER,	
			ALERT_TITLE,	
			ALERT_CONTENT,	
			CREATE_TIME,	
			UPDATE_TIME,
				`TYPE`,
				`READ`,
			TIPMSG_ID
		from 
			TIP_MSG
		where 
			TIPMSG_ID = #{TIPMSG_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.MSG_TYPE,
			u.name as TO_USER,
			a.ALERT_TITLE,
			a.ALERT_CONTENT,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.`TYPE`,
			a.`READ`,
			a.TIPMSG_ID
		from
			TIP_MSG a
		left join user u on u.user_id=a.TO_USER
		WHERE 1=1
		<if test="pd.ALERT_TITLE != '' and pd.ALERT_TITLE != null ">
			AND a.ALERT_TITLE LIKE CONCAT('%',#{pd.ALERT_TITLE, jdbcType=VARCHAR},'%')
		</if>
		<if test="pd.lastLoginStart != '' and pd.lastLoginStart != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{pd.lastLoginStart, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.lastLoginEnd != '' and pd.lastLoginEnd != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{pd.lastLoginEnd, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.MSG_TYPE != '' and pd.MSG_TYPE != null ">
			AND a.MSG_TYPE = #{pd.MSG_TYPE, jdbcType=INTEGER}
		</if>
		ORDER BY a.create_time DESC
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.MSG_TYPE,	
				a.TO_USER,	
				a.ALERT_TITLE,	
				a.ALERT_CONTENT,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,
				a.`TYPE`,
				a.`READ`,
				a.TIPMSG_ID
		from 
				TIP_MSG a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TIP_MSG
		where 
			TIPMSG_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!--查询最近的三条消息-->
	<select id="getMsgByUser" parameterType="pd" resultType="pd">
		SELECT 	a.MSG_TYPE,
				a.TO_USER,
				a.ALERT_TITLE,
				a.ALERT_CONTENT,
				a.CREATE_TIME,
				a.UPDATE_TIME,
				a.`TYPE`,
				a.`READ`,
				a.TIPMSG_ID
		FROM
				TIP_MSG a
		WHERE  a.TO_USER = #{userId}
		ORDER BY a.CREATE_TIME DESC LIMIT 3;
	</select>

	<!--查询站内信列表-->
	<select id="selectTipMsg" parameterType="com.wolves.dto.user.TipMsgDTO" resultMap="ResultMap">
		SELECT
			*
		FROM tip_msg
		WHERE (to_user = #{toUser} OR to_user = 'ALL')
		ORDER BY create_time DESC
		LIMIT #{start}, #{size}
	</select>

	<!--查询站内信详情-->
	<select id="selectTipMsgById" parameterType="com.wolves.dto.user.TipMsgDTO" resultMap="ResultMap">
		SELECT
			*
		FROM tip_msg
		WHERE tipmsg_id = #{tipMsgId}
	</select>

	<!--添加信息-->
	<insert id="saveTipMsg" parameterType="com.wolves.dto.user.ToMsgDTO" flushCache="false">
		insert into tip_msg(
		TYPE,
		msg_type,
		to_user,
		alert_title,
		`read`,
		alert_content,
		CREATE_TIME,
		UPDATE_TIME,
		tipmsg_id
		) values (
		#{type},
		#{msgType},
		#{userId},
		#{title},
		0,
		#{content},
		now(),
		now(),
		#{tipmsgId}
		)
	</insert>
</mapper>