<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserCarBindMapper">

	<resultMap type="com.wolves.dto.UserCarBindDTO" id="ResultMap">
		<id column="user_car_bind_id" property="userCarBindId"/>
		<result column="user_id" property="userId"/>
		<result column="car_no" property="carNo"/>
		<result column="status" property="status"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into USER_CAR_BIND(
			USER_ID,	
			CAR_NO,	
			STATUS,
			REMARK,
			CREATE_TIME,	
			UPDATE_TIME,	
			USER_CAR_BIND_ID
		) values (
			#{USER_ID},	
			#{CAR_NO},	
			#{STATUS},
			#{REMARK},
			now(),
			now(),
			#{USER_CAR_BIND_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from USER_CAR_BIND
		where 
			USER_CAR_BIND_ID = #{USER_CAR_BIND_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  USER_CAR_BIND
			set
				<if test="USER_ID != null">
					USER_ID = #{USER_ID},
				</if>
				<if test="CAR_NO != null">
					CAR_NO = #{CAR_NO},
				</if>
				<if test="STATUS != null">
					STATUS = #{STATUS},
				</if>
				UPDATE_TIME = now(),
			USER_CAR_BIND_ID = USER_CAR_BIND_ID
			where 
				USER_CAR_BIND_ID = #{USER_CAR_BIND_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			a.USER_ID,
			a.CAR_NO,
			a.STATUS,
			a.REMARK,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.USER_CAR_BIND_ID,
			u.NAME,
			u.SFID,
			u.PHONE,
			c.COMPANY_NAME
		from 
			USER_CAR_BIND a
		LEFT JOIN USER u ON (a.USER_ID = u.USER_ID)
		LEFT JOIN company c ON (c.company_id = u.company_id)
		where 
			a.USER_CAR_BIND_ID = #{USER_CAR_BIND_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USER_ID,	
				a.CAR_NO,	
				a.STATUS,
				a.REMARK,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.USER_CAR_BIND_ID,
				u.NAME
		from 
				USER_CAR_BIND a
		LEFT JOIN USER u ON (a.USER_ID = u.USER_ID)
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USER_ID,
				a.CAR_NO,	
				a.STATUS,
				a.REMARK,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.USER_CAR_BIND_ID
		from 
				USER_CAR_BIND a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from USER_CAR_BIND
		where 
			USER_CAR_BIND_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!--查询是否绑定车牌-->
	<select id="selectCarBindByUserId" parameterType="com.wolves.dto.UserCarBindDTO" resultMap="ResultMap">
		select * from USER_CAR_BIND where USER_ID = #{userId} ORDER BY CREATE_TIME DESC LIMIT 1;
	</select>

	<!--查询绑定车辆信息是否存在-->
	<select id="selectMyCar" parameterType="com.wolves.dto.UserCarBindDTO" resultMap="ResultMap">
		select
		*
		from
		USER_CAR_BIND
		where
		1=1
		<if test="userId != null">
			AND USER_ID = #{userId}
		</if>
		<if test="status != null">
			AND STATUS = #{status}
		</if>
	</select>
</mapper>