<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<sql id="userColumns">USERNAME,NAME,PASSWORD,RIGHTS,STATUS,ROLE_ID</sql>

	<resultMap type="User" id="userAndRoleResultMap">
		<id column="USER_ID" property="USER_ID"/>
		<result column="USERNAME" property="USERNAME"/>
		<result column="PASSWORD" property="PASSWORD"/>
		<result column="NAME" property="NAME"/>
		<result column="RIGHTS" property="RIGHTS"/>
		<result column="LAST_LOGIN" property="LAST_LOGIN"/>
		<result column="IP" property="IP"/>
		<result column="STATUS" property="STATUS"/>
		<result column="SKIN" property="SKIN"/>
		<association property="role" column="ROLE_ID" javaType="Role">
			<id column="ROLE_ID" property="ROLE_ID"/>
			<result column="ROLE_NAME" property="ROLE_NAME"/>
			<result column="ROLE_RIGHTS" property="RIGHTS"/>
		</association>
	</resultMap>
	<resultMap type="User" id="userResultMap">
		<id column="USER_ID" property="USER_ID"/>
		<result column="USERNAME" property="USERNAME"/>
		<result column="PASSWORD" property="PASSWORD"/>
		<result column="NAME" property="NAME"/>
		<result column="RIGHTS" property="RIGHTS"/>
		<result column="LAST_LOGIN" property="LAST_LOGIN"/>
		<result column="IP" property="IP"/>
		<result column="STATUS" property="STATUS"/>
		<result column="ROLE_ID" property="ROLE_ID"/>
		<result column="SKIN" property="SKIN"/>
	</resultMap>

	<resultMap type="com.wolves.entity.app.User" id="UserResultMap2">
		<id column="user_id" property="userId"/>
		<result column="token" property="token"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="head_image" property="headImage"/>
		<result column="sex" property="sex"/>
		<result column="rights" property="rights"/>
		<result column="role_id" property="roleId"/>
		<result column="last_login" property="lastLogin"/>
		<result column="ip" property="ip"/>
		<result column="status" property="status"/>
		<result column="bz" property="bz"/>
		<result column="skin" property="skin"/>
		<result column="email" property="email"/>
		<result column="number" property="number"/>
		<result column="phone" property="phone"/>
		<result column="sfid" property="sfid"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="years" property="years"/>
		<result column="company_id" property="companyId"/>
		<result column="position" property="position"/>
		<result column="is_bind_id_card" property="isBindIdCard"/>
		<result column="id_card_front_url" property="idCardFrontUrl"/>
		<result column="id_card_back_url" property="idCardBackUrl"/>
		<result column="has_date_right" property="hasDateRight"/>
	</resultMap>

	<resultMap type="com.wolves.dto.user.UserDTO" id="UserDTOResultMap">
		<id column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="sex" property="sex"/>
		<result column="head_image" property="headImage"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="company_id" property="companyId"/>
		<result column="company_name" property="companyName"/>
		<result column="logo" property="logo"/>
		<result column="company_certify" property="companyCertify"/>
	</resultMap>

	<resultMap type="com.wolves.dto.user.ManagerUserDTO" id="ManagerUserDTOResultMap">
		<id column="user_id" property="userId"/>
		<result column="name" property="name"/>
	</resultMap>

	<resultMap type="com.wolves.dto.user.UserListDTO" id="UserListResultMap">
		<id column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="company_name" property="companyName"/>
	</resultMap>
	
	<!-- 判断用户名和密码 -->
	<select id="getUserInfo" parameterType="User" resultMap="userResultMap">
		select * from USER
		where 1=1
		<if test="USERNAME!=null and PASSWORD!=null">
		and USERNAME = #{USERNAME,jdbcType=VARCHAR} and PASSWORD=#{PASSWORD,jdbcType=VARCHAR}
		</if>
		<if test="USER_ID!=null and USER_ID>0">
		and USER_ID = #{USER_ID,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getUser" parameterType="com.wolves.entity.app.User" resultMap="UserResultMap2">
		select * from USER
		where 1=1
		<if test="phone!=null and password!=null">
			and phone = #{phone,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
		</if>
		<if test="userId!=null and userId>0">
			and user_id = #{userId,jdbcType=VARCHAR}
		</if>
		<if test="token != null">
			and token = #{token,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getUserAndRoleById" parameterType="String" resultMap="userAndRoleResultMap">
		select  u.USER_ID,
				u.USERNAME,
				u.NAME,
				u.RIGHTS as USER_RIGHTS,
				u.PASSWORD,
				u.SKIN,
				r.ROLE_ID,
				r.ROLE_NAME,
				r.RIGHTS as ROLE_RIGHTS 
		from USER u
		left join SYS_ROLE r 
		on u.ROLE_ID=r.ROLE_ID 
		where u.STATUS=0 
		and u.USER_ID=#{USER_ID}
	</select>

	<update id="updateLastLogin" parameterType="User">
		update USER set
		LAST_LOGIN=#{LAST_LOGIN,jdbcType=DATE}
		where USER_ID=#{USER_ID}
	</update>

	<!--更新token-->
	<update id="updateTokenById" parameterType="com.wolves.entity.app.User">
		update
		USER
		SET last_login = now()
		<if test="token != null">
		, token = #{token,jdbcType=VARCHAR}
		</if>
		<if test="password != null">
		, password = #{password, jdbcType=VARCHAR}
		</if>
		where user_id = #{userId,jdbcType=VARCHAR}
	</update>

	<!--保存App客户-->
	<insert id="saveUser" parameterType="com.wolves.entity.app.User" flushCache="false">
		insert into USER (
		USER_ID,
		USERNAME,
		PASSWORD,
		NAME,
		SEX,
		LAST_LOGIN,
		IP,
		STATUS,
		PHONE,
		IS_BIND_ID_CARD,
		ID_CARD_FRONT_URL,
		ID_CARD_BACK_URL,
		EMAIL,
		COMPANY_ID,
		CREATE_TIME,
		UPDATE_TIME
		) values (
		#{userId},
		#{username},
		#{password},
		#{name},
		#{sex},
		#{lastLogin},
		#{ip},
		#{status},
		#{phone},
		#{isBindIdCard},
		#{idCardFrontUrl},
		#{idCardBackUrl},
		#{email},
		#{companyId},
		now(),
		now()
		)
	</insert>

	<!--根据电话号码查询数据-->
	<select id="getUserByPhone" parameterType="com.wolves.entity.app.User" resultMap="UserResultMap2">
		SELECT
		*
		FROM
		USER
		<where>
		 1=1
			<if test="phone != null">
				AND PHONE = #{phone}
			</if>
			<if test="username != null">
				AND username = #{username}
			</if>
		</where>
	</select>

	<!--根据token 查询用户数据-->
	<select id="getUserByToken" parameterType="com.wolves.entity.app.User" resultMap="UserResultMap2">
		  SELECT * FROM USER WHERE token = #{token}
	</select>

	<update id="updateUser" parameterType="com.wolves.entity.app.User">
		UPDATE USER
		<trim prefix="set" suffixOverrides=",">
			<if test="username != null">USERNAME = #{username},</if>
			<if test="name != null">NAME = #{name},</if>
			<if test="headImage != null">head_image = #{headImage},</if>
			<if test="sex != null">SEX = #{sex},</if>
			<if test="phone != null">PHONE = #{phone},</if>
			<if test="email != null">EMAIL = #{email},</if>
			<if test="status != null">STATUS = #{status},</if>
			<if test="companyId != null">COMPANY_ID = #{companyId},</if>
			<if test="sfid != null">SFID = #{sfid},</if>
		</trim>
		WHERE USER_ID = #{userId}
	</update>

	<select id="getUserDTOByToken" parameterType="com.wolves.dto.user.UserDTO" resultMap="UserDTOResultMap">
		  SELECT
			u.user_id,
			u.`name`,
			u.head_image,
			u.sex,
			u.email,
			u.phone,
			u.company_id,
			c.company_name,
			c.logo,
			c.company_certify
		FROM
			`user` u
		LEFT JOIN company c ON (u.company_id = c.company_id AND c.status = 1)
		WHERE u.token = #{token}
	</select>

	<!--根据公司id查询负责人-->
	<select id="selectManagerUserByCompanyId" parameterType="com.wolves.dto.user.ManagerUserDTO" resultMap="ManagerUserDTOResultMap">
		SELECT
			u.user_id,
			u.`name`,
			r.role_name
		FROM
			`user` u
		LEFT JOIN company c ON (u.company_id = c.company_id AND c.status = 1)
		LEFT JOIN app_role r ON (r.company_id = u.company_id)
		LEFT JOIN app_user_role a ON (a.user_id = u.user_id AND a.app_role_id = r.id)
		WHERE r.role_name = 'admin' AND u.company_id = #{companyId}
	</select>

	<select id="selectAllUser" parameterType="com.wolves.dto.user.UserListDTO" resultMap="UserListResultMap">
		SELECT
			u.user_id,
			u.`name`,
			c.company_name
		FROM
			`user` u
		LEFT JOIN company c ON (u.company_id = c.company_id AND c.status = 1)
		WHERE u.`name` != 'admin'
	</select>
</mapper>