<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserCarMonthCardMapper">

	<resultMap type="com.wolves.dto.user.ExportDTO" id="ResultMap">
		<id column="USER_ID" property="id"/>
		<result column="COMPANY_NAME" property="companyName"/>
		<result column="PAY_TIME" property="payTime"/>
		<result column="NAME" property="name"/>
		<result column="SFID" property="idcard"/>
		<result column="PHONE" property="phone"/>
		<result column="PAY_AMOUNT" property="amount"/>
		<result column="CAR_NO" property="plate"/>
		<result column="USE_TIL_DATE" property="expireTime"/>
		<result column="PAY_AMOUNT" property="amount"/>
		<result column="COMPANY_ID" property="companyId"/>
		<result column="ID_CARD_FRONT_URL" property="image"/>
		<result column="ID_CARD_BACK_URL" property="imageBack"/>
	</resultMap>

	<resultMap type="com.wolves.dto.UserCarMonthCardDTO" id="UserCarResultMap">
		<id column="user_car_month_card_id" property="userCarMonthCardId"/>
		<result column="user_id" property="userId"/>
		<result column="card_no" property="cardNo"/>
		<result column="car_no" property="carNo"/>
		<result column="price" property="price"/>
		<result column="use_til_date" property="useTilDate"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<resultMap type="com.wolves.dto.UserCarsDTO" id="UserCarsResultMap">
		<id column="user_car_month_card_id" property="userCarMonthCardId"/>
		<result column="user_id" property="userId"/>
		<result column="card_no" property="cardNo"/>
		<result column="car_no" property="carNo"/>
		<result column="use_til_date" property="useTilDate"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into USER_CAR_MONTH_CARD(
			USER_ID,	
			CARD_NO,
			CAR_NO,
			PRICE,	
			USE_TIL_DATE,
			CREATE_TIME,	
			UPDATE_TIME,	
			user_car_month_card_id
		) values (
			#{USER_ID},	
			#{CARD_NO},
			#{CAR_NO},
			#{PRICE},	
			#{USE_TIL_DATE},
			now(),
			now(),
			#{user_car_month_card_id}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from USER_CAR_MONTH_CARD
		where 
			user_car_month_card_id = #{user_car_month_card_id}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  USER_CAR_MONTH_CARD
			set 
				USER_ID = #{USER_ID},
				CARD_NO = #{CARD_NO},
				CAR_NO = #{CAR_NO},
				PRICE = #{PRICE},
				USE_TIL_DATE = #{USE_TIL_DATE},
				UPDATE_TIME = now(),
			user_car_month_card_id = user_car_month_card_id
			where 
				user_car_month_card_id = #{user_car_month_card_id}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			a.USER_ID,
			a.CARD_NO,
			a.CAR_NO,
			a.PRICE,
			a.USE_TIL_DATE,
			a.CREATE_TIME,
			a.UPDATE_TIME,
			a.user_car_month_card_id,
			u.NAME,
			u.SFID,
			u.PHONE
		from 
			USER_CAR_MONTH_CARD a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
		where 
			a.user_car_month_card_id = #{user_car_month_card_id}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USER_ID,	
				a.CARD_NO,
				a.CAR_NO,
				a.PRICE,	
				a.USE_TIL_DATE,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.user_car_month_card_id,
				u.NAME
		from 
				USER_CAR_MONTH_CARD a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USER_ID,	
				a.CARD_NO,
				a.CAR_NO,
				a.PRICE,	
				a.USE_TIL_DATE,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.user_car_month_card_id
		from 
				USER_CAR_MONTH_CARD a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from USER_CAR_MONTH_CARD
		where
		user_car_month_card_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<select id="findMonthCardById" parameterType="com.wolves.dto.user.ExportDTO" resultMap="ResultMap">
		select
		a.USER_ID,
		a.CARD_NO,
		a.CAR_NO,
		a.PRICE,
		a.USE_TIL_DATE,
		a.CREATE_TIME,
		a.UPDATE_TIME,
		a.user_car_month_card_id,
		u.NAME,
		u.SFID,
		u.PHONE,
		u.ID_CARD_FRONT_URL,
		u.ID_CARD_BACK_URL,
		p.PAY_AMOUNT,
		p.PAY_TIME,
		c.COMPANY_ID,
		c.COMPANY_NAME
		from
		USER_CAR_MONTH_CARD a
		LEFT JOIN USER u ON (u.USER_ID = a.USER_ID)
		LEFT JOIN PAY_ORDER p ON (p.USER_ID = a.USER_ID AND p.PAY_TYPE = 4 AND p.PAY_STATUS = 1)
		LEFT JOIN COMPANY c ON (c.COMPANY_ID = u.COMPANY_ID)
		where
		a.user_car_month_card_id = #{user_car_month_card_id}
	</select>

	<!-- 新增-->
	<insert id="createMonthCard" parameterType="com.wolves.dto.UserCarMonthCardDTO" flushCache="false">
		insert into USER_CAR_MONTH_CARD(
		USER_ID,
		CARD_NO,
		CAR_NO,
		PRICE,
		USE_TIL_DATE,
		CARD_STATUS,
		CREATE_TIME,
		UPDATE_TIME,
		user_car_month_card_id
		) values (
		#{userId},
		#{cardNo},
		#{carNo},
		#{price},
		#{useTilDate},
		1,
		now(),
		now(),
		#{userCarMonthCardId}
		)
	</insert>

	<select id="selectCarByCarNo" parameterType="com.wolves.dto.UserCarMonthCardDTO" resultMap="UserCarResultMap">
		SELECT
		user_car_month_card_id,
		user_id,
		card_no,
		car_no
		price,
		use_til_date,
		create_time,
		update_time
		FROM USER_CAR_MONTH_CARD
		WHERE car_no = #{carNo} AND use_til_date > now()  LIMIT 1
	</select>

	<select id="selectUserCarByUserId" parameterType="com.wolves.dto.UserCarsDTO" resultMap="UserCarsResultMap">
		SELECT
            user_car_month_card_id,
            user_id,
            card_no,
            car_no,
            car_no price,
            use_til_date,
            create_time
		FROM USER_CAR_MONTH_CARD
		WHERE user_id = #{userId} AND use_til_date > now()
	</select>

	<select id="selectUserCarById" parameterType="com.wolves.dto.UserCarMonthCardDTO" resultMap="UserCarResultMap">
		SELECT
		user_car_month_card_id,
		user_id,
		card_no,
		car_no
		price,
		use_til_date,
		create_time,
		update_time
		FROM USER_CAR_MONTH_CARD
		WHERE user_car_month_card_id = #{userCarMonthCardId}
	</select>

	<update id="updateCarDateById" parameterType="com.wolves.dto.UserCarMonthCardDTO">
		update  USER_CAR_MONTH_CARD
			set
				<if test="userId != null">
					USER_ID = #{userId},
				</if>
				<if test="cardNo != null">
					CARD_NO = #{cardNo},
				</if>
				<if test="carNo != null">
					CAR_NO = #{carNo},
				</if>
				<if test="useTilDate != null">
					USE_TIL_DATE = #{useTilDate},
				</if>
				UPDATE_TIME = now(),
				user_car_month_card_id = user_car_month_card_id
			where
				user_car_month_card_id = #{userCarMonthCardId}
	</update>
</mapper>