<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="YardAppointMapper">

	<resultMap type="com.wolves.dto.AppointmentDTO" id="appointmentResultMap">
		<id column="yardappoint_id" property="yardappointId"/>
		<result column="place_type" property="placeType"/>
		<result column="position" property="position"/>
		<result column="place_date" property="placeDate"/>
		<result column="begin_time" property="beginTime"/>
		<result column="end_time" property="endTime"/>
		<result column="book_duration" property="duration"/>
		<result column="book_fee" property="fee"/>
		<result column="status" property="status"/>
		<result column="note" property="note"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into YARD_APPOINT(
			PLACE_ID,	
			APPLY_USER_ID,	
			PLACE_DATE,	
			BEGIN_TIME,	
			END_TIME,	
			BOOK_DURATION,	
			BOOK_FEE,	
			STATUS,
			NOTE,
			CREATE_TIME,	
			UPDATE_TIME,	
			YARDAPPOINT_ID
		) values (
			#{PLACE_ID},	
			#{APPLY_USER_ID},	
			#{PLACE_DATE},	
			#{BEGIN_TIME},	
			#{END_TIME},	
			#{BOOK_DURATION},	
			#{BOOK_FEE},	
			#{STATUS},
			#{NOTE},
			now(),
			now(),
			#{YARDAPPOINT_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from YARD_APPOINT
		where 
			YARDAPPOINT_ID = #{YARDAPPOINT_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  YARD_APPOINT
			set 
				PLACE_DATE = #{PLACE_DATE},
				BEGIN_TIME = #{BEGIN_TIME},
				END_TIME = #{END_TIME},
				STATUS = #{STATUS},
				NOTE = #{NOTE},
				UPDATE_TIME = now(),
			YARDAPPOINT_ID = YARDAPPOINT_ID
			where 
				YARDAPPOINT_ID = #{YARDAPPOINT_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			PLACE_ID,	
			APPLY_USER_ID,	
			PLACE_DATE,	
			BEGIN_TIME,	
			END_TIME,	
			BOOK_DURATION,	
			BOOK_FEE,	
			STATUS,
			NOTE,
			CREATE_TIME,	
			UPDATE_TIME,	
			YARDAPPOINT_ID
		from 
			YARD_APPOINT
		where 
			YARDAPPOINT_ID = #{YARDAPPOINT_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.PLACE_ID,	
				a.APPLY_USER_ID,	
				a.PLACE_DATE,	
				a.BEGIN_TIME,	
				a.END_TIME,	
				a.BOOK_DURATION,	
				a.BOOK_FEE,	
				a.STATUS,
				a.NOTE,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.YARDAPPOINT_ID,
				b.PLACE_TYPE,
				b.POSITION,
				u.USERNAME
		from 
				YARD_APPOINT a
		LEFT JOIN YARD b ON (a.PLACE_ID = b.YARD_ID)
		LEFT JOIN USER u ON (u.USER_ID = a.APPLY_USER_ID)
		WHERE 1=1
		<if test="pd.POSITION != '' and pd.POSITION != null ">
			AND b.POSITION LIKE concat(concat('%',#{pd.POSITION, jdbcType=VARCHAR}),'%')
		</if>
		<if test="pd.lastLoginStart != '' and pd.lastLoginStart != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{pd.lastLoginStart, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.lastLoginEnd != '' and pd.lastLoginEnd != null ">
			<![CDATA[  AND DATE_FORMAT(a.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{pd.lastLoginEnd, jdbcType=VARCHAR}, '%Y-%m-%d') ]]>
		</if>
		<if test="pd.STATUS != '' and pd.STATUS != null ">
			AND a.STATUS = #{pd.STATUS, jdbcType=INTEGER}
		</if>
		ORDER BY a.create_time DESC
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.PLACE_ID,	
				a.APPLY_USER_ID,	
				a.PLACE_DATE,	
				a.BEGIN_TIME,	
				a.END_TIME,	
				a.BOOK_DURATION,	
				a.BOOK_FEE,	
				a.STATUS,
				a.NOTE,
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.YARDAPPOINT_ID,
				b.PLACE_TYPE,
				b.POSITION
		from 
				YARD_APPOINT a
				LEFT JOIN YARD b ON (a.PLACE_ID = b.YARD_ID)
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from YARD_APPOINT
		where 
			YARDAPPOINT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!--通过userId查询预约信息-->
	<select id="selectAppointment" parameterType="com.wolves.dto.AppointmentDTO" resultMap="appointmentResultMap">
		SELECT
			a.yardappoint_id,
			y.place_type,
			y.position,
			a.place_date,
			a.begin_time,
			a.end_time,
			a.book_duration,
			a.book_fee,
			a.status,
			a.note,
			a.create_time
		FROM
			yard_appoint a
		LEFT JOIN yard y ON (a.place_id = y.yard_id)
		WHERE
			apply_user_id = #{userId}
		LIMIT ${start}, ${size};
	</select>
</mapper>