<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FloorManMapper">
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into FLOOR_MANFLOORMAN(
			ID,	
			BUILD_NO,	
			FLOOR,	
			FLOOR_MASTER_NAME,	
			MASTER_TEL,	
			CREATE_TIME,	
			FLOORMAN_ID
		) values (
			#{ID},	
			#{BUILD_NO},	
			#{FLOOR},	
			#{FLOOR_MASTER_NAME},	
			#{MASTER_TEL},	
			#{CREATE_TIME},	
			#{FLOORMAN_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from FLOOR_MANFLOORMAN
		where 
			FLOORMAN_ID = #{FLOORMAN_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  FLOOR_MANFLOORMAN
			set 
				ID = #{ID},
				BUILD_NO = #{BUILD_NO},
				FLOOR = #{FLOOR},
				FLOOR_MASTER_NAME = #{FLOOR_MASTER_NAME},
				MASTER_TEL = #{MASTER_TEL},
				CREATE_TIME = #{CREATE_TIME},
			FLOORMAN_ID = FLOORMAN_ID
			where 
				FLOORMAN_ID = #{FLOORMAN_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			ID,	
			BUILD_NO,	
			FLOOR,	
			FLOOR_MASTER_NAME,	
			MASTER_TEL,	
			CREATE_TIME,	
			FLOORMAN_ID
		from 
			FLOOR_MANFLOORMAN
		where 
			FLOORMAN_ID = #{FLOORMAN_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.ID,	
				a.BUILD_NO,	
				a.FLOOR,	
				a.FLOOR_MASTER_NAME,	
				a.MASTER_TEL,	
				a.CREATE_TIME,	
				a.FLOORMAN_ID
		from 
				FLOOR_MANFLOORMAN a
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.ID,	
				a.BUILD_NO,	
				a.FLOOR,	
				a.FLOOR_MASTER_NAME,	
				a.MASTER_TEL,	
				a.CREATE_TIME,	
				a.FLOORMAN_ID
		from 
				FLOOR_MANFLOORMAN a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from FLOOR_MANFLOORMAN
		where 
			FLOORMAN_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>