<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TipMsgMapper">
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TIP_MSG(
			MSG_TYPE,	
			TO_USER,	
			ALERT_TITLE,	
			ALERT_CONTENT,	
			CREATE_TIME,	
			UPDATE_TIME,	
			TIPMSG_ID
		) values (
			#{MSG_TYPE},	
			#{TO_USER},	
			#{ALERT_TITLE},	
			#{ALERT_CONTENT},	
			now(),
			now(),
			#{TIPMSG_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TIP_MSG
		where 
			TIPMSG_ID = #{TIPMSG_ID}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TIP_MSG
			set 
				MSG_TYPE = #{MSG_TYPE},
				TO_USER = #{TO_USER},
				ALERT_TITLE = #{ALERT_TITLE},
				ALERT_CONTENT = #{ALERT_CONTENT},
				UPDATE_TIME = now(),
			TIPMSG_ID = TIPMSG_ID
			where 
				TIPMSG_ID = #{TIPMSG_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			MSG_TYPE,	
			TO_USER,	
			ALERT_TITLE,	
			ALERT_CONTENT,	
			CREATE_TIME,	
			UPDATE_TIME,	
			TIPMSG_ID
		from 
			TIP_MSG
		where 
			TIPMSG_ID = #{TIPMSG_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.MSG_TYPE,	
				a.TO_USER,	
				a.ALERT_TITLE,	
				a.ALERT_CONTENT,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.TIPMSG_ID
		from 
				TIP_MSG a
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.MSG_TYPE,	
				a.TO_USER,	
				a.ALERT_TITLE,	
				a.ALERT_CONTENT,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.TIPMSG_ID
		from 
				TIP_MSG a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TIP_MSG
		where 
			TIPMSG_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>